DJANGO_SETTINGS_MODULE=config.settings.development

SECRET_KEY=your-secret-key

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

TIME_ZONE=Asia/Kolkata

LANGUAGE_CODE=en-us

DJANGO_ENVIRONMENT=development

POSTGRES_DB=curamind_ai
POSTGRES_USER=curamind_app
POSTGRES_PASSWORD=postgres123
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432


REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_CACHE_TIMEOUT=300

TEST_REDIS_HOST=127.0.0.1
TEST_REDIS_PORT=6379
TEST_REDIS_DB=15
TEST_REDIS_PASSWORD=